# Editors
.vscode/**
!.vscode/launch.json
.idea

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
!*.obj
# .obj must be included in the ignored watch list, but excepted for now

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
!*.lib
# .lib must be included in the ignored watch list, but excepted for now

# Executables
*.exe
*.out
*.app